@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050505;
    color: #e5e2e1;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
h1, h2, h3, h4, h5, h6, .font-display {
    font-family: 'Syne', sans-serif !important;
}
.font-body, .font-label {
    font-family: 'Space Grotesk', sans-serif !important;
}
.glass-nav {
    background: rgba(28, 27, 27, 0.7);
    backdrop-filter: blur(20px);
}
.bordeaux-glow {
    box-shadow: 0 0 40px rgba(102, 0, 0, 0.35);
}
/* Phosphor Icons are SVG based, so we don't need the font-variation-settings */
.text-glow {
    text-shadow: 0 0 15px rgba(255, 179, 181, 0.1);
}
